<h1>Edit message template</h1>

<form name="EditTemplateForm" novalidate ng-submit="put(EditTemplateForm)">
    <fieldset>
        <p>
            <label for="Name">Name</label>
            <input name="Name" type="text" ng-model="data.Name" required />
            <span ng-show="EditTemplateForm.Name.$error.required">* Required</span>
        </p>
        <p>
            <label for="FromName">From name</label>
            <input name="FromName" type="text" ng-model="data.FromName" />
        </p>
        <p>
            <label for="FromEmail">From email</label>
            <input name="FromEmail" type="email" ng-model="data.FromEmail" required />
            <span ng-show="EditTemplateForm.FromEmail.$error.required">* Required</span>
            <span ng-show="EditTemplateForm.FromEmail.$error.email">* Not a valid email address!</span>
      </p>
        <p>
            <label for="Subject">Subject</label>
            <input name="Subject" type="text" ng-model="data.Subject" required />
            <span ng-show="EditTemplateForm.Subject.$error.required">* Required</span>
        </p>
        <p>
            <label for="TextBody">Text body</label>
            <textarea name="TextBody" rows="5" cols="30" ng-model="data.TextBody" required></textarea>
            <span ng-show="EditTemplateForm.TextBody.$error.required">* Required</span>
        </p>
        <p>
            <label for="HtmlBody">HTML body</label>
            <textarea name="HtmlBody" rows="5" cols="30" ng-model="data.HtmlBody"></textarea>
        </p>
        <p>
            <input class="btn" type="submit" value="Save" ng-disabled="EditTemplateForm.$invalid" />
            <a href="#/templates">Cancel</a>
        </p>
    </fieldset>
</form>